<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Secondhand Treasure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <% if(!currentUser) { %>
            <li class="nav-item active">
                <a class="nav-link" href="/users/sign_up">Sign Up <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users/sign_in">Sign In <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/listings/tops">Tops</a>
                <a class="dropdown-item" href="/listings/bottoms">Bottoms</a>
                <a class="dropdown-item" href="/listings/shoes">Shoes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/listings/index">All</a>
              </div>
            </li>
            <% } else { %>
            <li class="nav-item active">
                <a class="nav-link" href="/users/sign_out">Sign Out <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users/account">My Account<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/listings/tops">Tops</a>
                <a class="dropdown-item" href="/listings/bottoms">Bottoms</a>
                <a class="dropdown-item" href="/listings/shoes">Shoes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/listings/index">All</a>
              </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Cart <span class="sr-only">(current)</span></a>
            </li> 
            <% } %> 
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>