<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <% include ../static/partials/messages.ejs %>

      <h1>Listings</h1>

        <ul class="list-group">

              <% listings.forEach((listing) => { %>
                <li class="list-group-item">
                  <a href="/listings/<%= listing.id %>">
                    <%= listing.title%> 
                    <img src="https://secondhandtreasure.s3.amazonaws.com/<%= listing.picture %>" alt="listing picture" class="img-thumbnail">
                  </a>
                </li>
              <% }) %>
        </ul>
      

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>