<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
        <% include ../static/partials/messages.ejs %>

      <h1>New Listing</h1>

      <form action="/listings/new" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <input type="text" class="form-control" name="type" placeholder="Enter Type">
        </div>
        <div class="form-group">
            <label for="size">Size</label>
            <input type="text" class="form-control" name="size" placeholder="Enter Size">
        </div>
        <div class="form-group">
            <label for="color">Color</label>
            <input type="text" class="form-control" name="color" placeholder="Enter Color">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" placeholder="Enter Description">
        </div>
        <div class="form-group">
            <label for="myFile">Upload file</label>
            <input type="file" name="myFile" id="myFile" />
        </div>
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>