/* elements */

h1 {
    margin-bottom: 20px;
    text-align: center;
}

btn btn-light {
    text-align: center;
}


/* static/index*/

.container-1 {
    margin-top: 10px;
}

.container-2 {
     margin: 0 auto;
     height: 200px;
     width:75%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
}

.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
}

#search-shoes, #search-bottoms, #search-tops{
    width: 33% ;
    text-align: center;
    overflow: hidden;
 }

 .clothing-category img {
     height: 90%;
     width: 75%;
     padding: 5px;
     margin-top: 20px;
 }

 .clothing-category {
    position: relative;
    height: 90%;
    padding: 5px;
}

.item-name {
    position:absolute;
    top: 0;
    width:100%;
    display: block;
 
}

 /* listings/index */

.list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f8f9fa;
}

.list-item {
    width: 200px;
    height: 200px;
    margin: 20px;
    overflow: hidden;
}

.list-item img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.list-item {
    position: relative;
}

/* listings/show */

#listing-list  .list-group-item {
    text-align: center;
}
.listing-title {
    text-align: center;
}


.account-heading {
    text-align: center;
}

/** containers **/

.new-container {
    margin: 0 auto;
    width: 60%
}

.sign-in-container, .sign-up-container, .user-container {
    margin:0 auto;
    width: 40%;
}

/** listings/show **/

#listing-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
    border:none;
    padding-bottom: 20px;
}

#listing-list {
    margin: 10px;
}

#listing-list > .list-group-item {
    border: none;
    background-color:#f8f9fa;
}

.listing-options {
    text-align: center;
}