<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head.ejs %>
  </head>
  <body>

      <% include ./partials/navbar.ejs %>

    
      <div class="container-1"> 
        <div class="jumbotron jumbotron-fluid bg-light">
            <div class="container text-center">
              <h1 class="display-4">Secondhand Treasures</h1>
              <p class="lead">One man's trash is another man's treasure</p>
            </div>
        </div>
      </div>

      <div class="container-2">
        <div class="clothing-category" id="search-tops">
          <a href="/listings/tops" >
            <span class="item-name">Tops</span>
            <img src="images/tops.jpg" alt="Picture of tops">
          </a>
        </div>
        <div class="clothing-category" id="search-shoes">
          <a href="/listings/shoes">
            <span class="item-name">Shoes</span>
            <img src="images/shoes.jpg" alt="Picture of Shoes">
          </a>
        </div>
        <div class="clothing-category" id="search-bottoms">
          <a href="/listings/bottoms">
            <span class="item-name">Bottoms</span>
            <img src="images/pants-2.jpg" alt="Picture of Pants">
          </a>
        </div>    
      </div>

      
      <% include ./partials/baseScripts.ejs %>
    </body>
</html>