<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ./partials/head.ejs %>
  </head>
  <body>

      <% include ./partials/navbar.ejs %>

   
      <main class="container">

        
        <div class="jumbotron jumbotron-fluid bg-light">
            <div class="container text-center">
              <h1 class="display-4">Secondhand Treasures</h1>
              <p class="lead">One man's trash is another man's treasure</p>
            </div>
          </div>

        
        
     

      </main>
      

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>