<!DOCTYPE html>
<html lang="en">
  <head>
      <% include ../static/partials/head.ejs %>
  </head>
  <body>

      <% include ../static/partials/navbar.ejs %>


      <main class="container">

        <% include ../static/partials/messages.ejs %>
        <h1 class="account-heading">My Account</h1>

        <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action text-center">List Items</a>
                <a href="#" class="list-group-item list-group-item-action text-center">View User Profile</a>
                <a href="#" class="list-group-item list-group-item-action text-center">Items Sold</a>
                <a href="#" class="list-group-item list-group-item-action text-center">Items Listed</a>
                <a href="#" class="list-group-item list-group-item-action text-center">Items Bought</a>
        </div>

        
        
     

      </main>
      

      <% include ../static//partials/baseScripts.ejs %>
    </body>
</html>